<div class="container">
  <h1>View Contact</h1>

  <a href="#" routerLink="/contact/index" class="btn btn-primary">Back</a>

  <div>
      <strong>ID:</strong>
      <p>{{ contact.ContactID }}</p>
  </div>

  <div>
      <strong>First Name:</strong>
      <p>{{ contact.firstname }}</p>
  </div>

  <div>
      <strong>Last Name:</strong>
      <p>{{ contact.lastname }}</p>
  </div>

  <div>
    <strong>Email:</strong>
    <p>{{ contact.email }}</p>
</div>

<div>
  <strong>Company Name:</strong>
  <p>{{ contact.name }}</p>
</div>

<div>
  <strong>Location:</strong>
  <p>{{ contact.postcode }}</p>
</div>

</div>
